<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Int JJ API</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>
<body class="bg-light">
<div class="container-fluid p-0">
    <!-- NAVBAR -->
    <div class="row" id="flipkart-navbar">
        <div class="container">
            <div class="row">
                <div class="pull-left">
                    <h4><span class="smallnav menu" onclick="openNav()">? Int JJ Api</span></h4>
                    <h3><span class="largenav">Integral JJ API</span></h3>
                </div>
                <ul class="largenav pull-right">
                    <li class="upper-links"><a class="links" href="#">Home</a></li>
                    <li class="upper-links"><a class="links" href="#">Api Documentation</a></li>
                </ul>
            </div>
        </div>
        <div id="mySidenav" class="sidenav">
            <div class="container" style="background-color: #2874f0; padding-top: 10px;">
                <span class="sidenav-heading">Home</span>
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            </div>
            <a href="#">Home</a>
            <a href="#">Api Documentation</a>
        </div>
    </div>
    <!-- NAVBAR -->

    <!-- INPUT -->
    <div class="container">
        <br/>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" id="v"
                                   value="n=2;INT(n);" type="search" placeholder="">
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <button id="btn" class="btn btn-lg btn-search" type="submit">Calculate</button>
                        </div>
                        <!--end of col-->
                    </div>
                </form>
            </div>
            <!--end of col-->
        </div>
    </div>
    <!-- INPUT -->

    <!-- RESULT -->
    <div class="container mt-5">
        <div class="row">
            <div class="card-columns">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">1. n polynomial</h5>
                        <p class="card-text nPolyText"></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">2. h-y pointers</h5>
                        <p class="card-text hyPointersText"></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">3. p(x) -> x<->h</h5>
                        <p class="card-text xToHText"></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Solution Matrix</h5>
                        <p class="card-text"><pre id="resultSolutionMatrix">&nbsp;</pre><pre id="error">&nbsp;</pre></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Symbolic Matrix</h5>
                        <p class="card-text symbolicMatrixTable"></p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Symbolic Matrix</h5>
                        <p class="card-text"><pre id="resultAllData">&nbsp;</pre></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- RESULT -->


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<script type="text/javascript" th:src="@{/js/api.js}"></script>
</body>
</html>
